<!-- BOTONERA CATEGORIAS RESPONSIVE-->
<div class="container-fluid bg-success">
  <div class="row container-fluid align-items-between d-flex justify-content-center pt-3 pb-3 ml-1">
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Todo')" [routerLink]="['/buscar']"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
        Todo</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Ordenadores')" [routerLink]="['/buscar']"><i class="fa fa-laptop" aria-hidden="true"></i>
        Ordenadores</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Móviles')" [routerLink]="['/buscar']"><i class="fa fa-mobile" aria-hidden="true"></i>
        Móviles</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Consolas')" [routerLink]="['/buscar']"><i class="fa fa-gamepad" aria-hidden="true"></i>
        Consolas</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Ropa')" [routerLink]="['/buscar']" ><i class="fa fa-shopping-bag" aria-hidden="true"></i>
        Ropa</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Cocina')" [routerLink]="['/buscar']"><i class="fa fa-cutlery" aria-hidden="true"></i>
        Cocina</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Muebles')" [routerLink]="['/buscar']"><i class="fa fa-home" aria-hidden="true"></i>
        Muebles</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Motor')" [routerLink]="['/buscar']"><i class="fa fa-car" aria-hidden="true"></i>
        Motor</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Deporte')" [routerLink]="['/buscar']"><i class="fa fa-futbol-o" aria-hidden="true"></i>
        Deporte</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Libros y Música')" [routerLink]="['/buscar']"><i class="fa fa-book" aria-hidden="true"></i> Libros y
        Música</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Electrodomésticos')" [routerLink]="['/buscar']"><i class="fa fa-plug" aria-hidden="true"></i>
        Electrodomésticos</button>
    </div>
    <div>
      <button type="button" class="btn btn-outline-light m-1" (click)="pasarCategoria('Otros')" [routerLink]="['/buscar']"><i class="fa fa-bars" aria-hidden="true"></i>
        Otros</button>
    </div>
  </div>
</div>
<!-- CIERRE BOTONERA CATEGORIAS RESPONSIVE-->
