.card-text{
  margin-left: 10px;
}
.card-title{
  margin-left: 10px;
}

.card-block{
  margin-top: 20px;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card{
  margin-top: 30px;
}
