<body>

  <!--TITULO-->

  <div class="container-fluid">
    <div class="row">
      <div class="col text-success mt-5 mb-0 text-center">
        <h2>Mis Productos</h2>
      </div>
    </div>
  </div>

  <!--PRODUCTOS--> <!--  -->
  
  <!-- <div class="row justify-content-center ml-5 mr-5 mb-5">
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
  <div class="card border-success" style="width: 18rem;">
    <div><img src="assets/img/samsung_s20+.jpg" class="card-img-top m-auto" alt="..." style="max-width: 200px"></div>
    <div class="card-body">
      <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
    </div>
  </div>

  <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
  <div class="card" style="width: 18rem;">
    <img src="assets/img/mesa.jpg" class="card-img-top m-auto" alt="..." style="max-height: 200px">
    <div class="card-body">
      <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
    </div>
  </div> -->

  <!-- <div class="row justify-content-center ml-5 mr-5 mb-5"> -->
    <!-- <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card border-success" style="width: 18rem;">

        <img class="card-img-top m-auto" src="assets/img/bicicleta.jpg" alt="Card image cap" style="max-width: 200px">
      
        <div class="card-block ml-2 ">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
        </div>

      </div>
    </div> -->

    <div class="row justify-content-center ml-5 mr-5 mb-5">
      <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
        <div class="card border-success" style="width: 18rem; ">
  
          <img class="card-img-top m-auto" src="assets/img/mesa.jpg" alt="Card image cap" style="max-width: 200px; max-height: 200px">
        
          <div class="card-block ml-2 ">
            <h4 class="card-title">Producto: Nombre</h4>
            <h6 class="card-text">Descripcion:</h6>
            <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          </div>
  
        </div>
      </div>

  <!-- <div class="row justify-content-center ml-5 mr-5 mb-5"> -->
    <!-- <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card border-success" style="width: 18rem;">
        <img class="card-img-top mr-auto ml-auto" src="assets/img/mesa.jpg" alt="Card image cap" style="max-height: 150px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div> -->

    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-4">
      <div class="card border-success" style="width: 18rem; height: 350px">
        <img class="card-img-top mr-auto ml-auto mt-4" src="assets/img/bicicleta.jpg" alt="Card image cap" style="width: 200px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card border-success" style="width: 18rem;">
        <img class="card-img-top mr-auto ml-auto" src="assets/img/samsung_s20+.jpg" alt="Card image cap" style="max-width: 200px; max-height: 200px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card border-success" style="width: 18rem;">
        <img class="card-img-top mr-auto ml-auto" src="assets/img/nikon.jpg" alt="Card image cap" style="max-width: 200px; max-height: 200px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card border-0" style="width: 18rem;">
        <img class="card-img-top mr-auto ml-auto" src="assets/img/casco.jpg" alt="Card image cap" style="max-width: 200px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-8 col-md-6 col-lg-4 col-xl-3">
      <div class="card border-0" style="width: 18rem;">
        <img class="card-img-top mr-auto ml-auto" src="assets/img/sombrilla.jpg" alt="Card image cap" style="max-width: 200px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
  </div>


