<body>

  <!--TITULO-->

  <div class="container-fluid">
    <div class="row">
      <div class="col text-success mt-5 mb-5 text-center">
        <h2>Mis Productos</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid mb-5 ">
    <div class="row justify-content-center">
      <div class="col-10 border border-success ">
        <div class="row justify-content-center">
          <div class="card border border-0 mt-2 pb-2" style="width: 18rem; height: 350px">
  
            <img class="card-img-top m-auto" src="assets/img/mesa.jpg" alt="Card image cap"
              style="max-width: 200px; max-height: 200px">
  
            <div class="card-block ml-2 ">
              <h4 class="card-title">Producto: Nombre</h4>
              <h6 class="card-text">Descripcion:</h6>
              <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
            </div>
  
          </div>
          <div class="card border-0 mt-2 pb-2" style="width: 18rem; height: 350px">
  
            <img class="card-img-top m-auto" src="assets/img/bicicleta.jpg" alt="Card image cap"
              style="max-width: 200px; max-height: 200px">
  
            <div class="card-block ml-2 ">
              <h4 class="card-title">Producto: Nombre</h4>
              <h6 class="card-text">Descripcion:</h6>
              <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
            </div>
  
          </div>
          <div class="card border-0 mt-2 pb-2" style="width: 18rem; height: 350px">
  
            <img class="card-img-top m-auto" src="assets/img/samsung_s20+.jpg" alt="Card image cap"
              style="max-width: 200px; max-height: 200px">
  
            <div class="card-block ml-2 ">
              <h4 class="card-title">Producto: Nombre</h4>
              <h6 class="card-text">Descripcion:</h6>
              <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
            </div>
  
          </div>
          <div class="card border-0 mt-2 pb-2" style="width: 18rem; height: 350px">
  
            <img class="card-img-top m-auto" src="assets/img/casco.jpg" alt="Card image cap"
              style="max-width: 200px; max-height: 200px">
  
            <div class="card-block ml-2 ">
              <h4 class="card-title">Producto: Nombre</h4>
              <h6 class="card-text">Descripcion:</h6>
              <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>



