<!-- HEADER Y CATEGORIAS -->
<app-header></app-header>
<app-categories></app-categories>

<!-- MODAL MODIFICAR PRODUCTO -->
<ng-template #contentMMP let-modal>
  <div class="container-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-10 bg-light border border-success text-success mb-5 mt-5">
        <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm); uploadForm.reset()">
          <div class="d-flex justify-content-center">
            <img src="{{productoActual.product_image}}" class="card-img mb-3" style="max-width: 160px;" alt="Agrega tu">
          </div>
          <div class="form-group mt-3">
            <label for="exampleFormControlFile1">Carga una Foto</label>
            <input type="file" class="form-control-file" name="product_image" [(ngModel)]="productoActual.product_image"
              #product_image="ngModel" required (change)="onFileSelected($event)">
              <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Producto</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="productoActual.nombre" #nombre="ngModel"
              placeholder="En una sola palabra" required>
              <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Elige Categoría</label>
            <select class="form-control" name="categoria" [(ngModel)]="productoActual.categoria" #categoria="ngModel" required>
              <option>Ordenadores</option>
              <option>Móviles</option>
              <option>Consolas</option>
              <option>Ropa</option>
              <option>Cocina</option>
              <option>Muebles</option>
              <option>Motor</option>
              <option>Deporte</option>
              <option>Libros y Música</option>
              <option>Electrodomésticos</option>
              <option>Otros</option>
            </select>
            <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Describe el producto</label>
            <textarea class="form-control" name="descripcion" [(ngModel)]="productoActual.descripcion" #descripcion="ngModel"
              required rows="3"></textarea>
              <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="row justify-content-center my-4">
            <button type="submit" class="btn btn-success mr-1"
              (click)="modificarSile(productoActual.product_id, nombre.value, descripcion.value, categoria.value, idUsuario)"
              (click)= "openModal(modificadoModal)" (click)="modal.dismiss('Cross click')">Modificar Producto</button>
              <button type="submit" class="btn btn-danger ml-1"
              (click)="cancelarCambio()"
              (click)="modal.dismiss('Cross click')">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>

<!-- MODAL  producto modificado correctamente-->
<ng-template #modificadoModal>
  <div class="modal-body text-success text-center">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label"><h3>Producto modificado correctamente</h3></label>
      </div>
    </form>
  </div>  
  <div class="d-flex justify-content-center mb-3">
    <button type="button" class="btn btn-success"  [routerLink]="['/siles']" (click)="modalRef.hide()">Volver</button> 
  </div>
</ng-template>

<!-- MODAL ELIMINAR PRODUCTO -->
<ng-template #contentMDP let-modal>
  <div class="modal-body text-success text-center">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">
          <h3>¿Seguro que quieres borrar tu producto?</h3>
        </label>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <button type="button" class="btn btn-outline-danger" (click)="borrarSile(idProducto)" [routerLink]="['/siles']" 
      (click)="modal.dismiss('Cross click')">Borrar Producto</button>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>

<!--TITULO-->
<div class="container-fluid">
  <div class="row">
    <div class="col text-success mt-3 mb-5 text-center">
      <h2>Mis Productos</h2>
    </div>
  </div>
</div>

<!-- CONTENEDOR PRODUCTOS -->
<div class="container-fluid mb-5 ">
  <div class="row d-flex justify-content-center">
    <div class="col-10 border border-success ">
      <div class="row align-items-end d-flex justify-content-center">

        <div class="card border-0 mt-2" style="width: 18rem; height: 450px" *ngFor="let producto of products">
          <img class="card-img-top m-auto" src="{{producto.product_image}}" alt="Card image cap"
            style="max-width: 200px; max-height: 200px">
          <div class="card-block ml-2 mr-2 text-center">
            <h4 class="card-title">Producto: {{producto.nombre}}</h4>
            <h6 class="card-text">Descripción:</h6>
            <p class="card-text">{{producto.descripcion}}</p>
          </div>
          <div class="mt-3 mb-3 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success btn-sm mr-1"
              (click)="pasarProducto(producto)" (click)="openModalModifyProduct(contentMMP)"
              [routerLink]="['/siles']"><i class="fa fa-refresh" aria-hidden="true"></i>
              Modificar</button>
            <button type="button" class="btn btn-outline-danger btn-sm ml-1"
              (click)="pasarIdProducto(producto.product_id)" (click)="openModalDeleteProduct(contentMDP)"
              [routerLink]="['/siles']"><i class="fa fa-trash" aria-hidden="true"></i>
              Borrar</button>
          </div>
        </div>
        <div *ngIf="products.length!=0; else noHay"></div>
        <ng-template #noHay> 
          <div class="col-12 d-flex justify-content-center"> 
          <img class="mt-3 mb-2" src="https://www.andiar.com/4892-large_default/vinilo-unicornio-infantil.jpg" alt="Unicornio"></div>
          <div class="display-4 text text-success text-center mb-2" >Sube algo que el unicornio se aburre</div> 
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>

