/* .card-text{
  margin-left: 10px;
}
.card-title{
  margin-left: 10px;
}

.card-block{
  margin-top: 20px;
}
.card{
  margin-top: 30px;
}
 */


/* img {
  position: absolute;
  clip: rect(0px,60px,200px,0px);
} */

/* .container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}
.container > .crop {
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
} */