.carrusel2
{
    margin-bottom: 20px;
}


.img
{
    height: 350px;
    width: 1200px;
    opacity: 0.8;
    

}

.body
{
    font-family: 'Open Sans Condensed';
}

.textocarrousel
{
    font-weight: bold;
    font-size: x-large;
   
}

.silenole
{
    font-size: 4em;
}

