


       
      <!--MODAL INICIO-->

      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Iniciar sesión</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="email" class="form-control border-success" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Contraseña:</label>
              <input type="password" class="form-control border-success" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" [routerLink]="['/home']" (click)="aparecerF()"
            (click)="modal.dismiss('Cross click')">Ingresar</button>
        </div>
      </ng-template>
      <pre>{{ closeResult }}</pre>

      <!--MODAL REGISTRO-->

      <ng-template #content2 let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title2">Registrarse</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email:</label>
              <input type="email" class="form-control border-success" id="recipient-name ">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Comunidad Autónoma:</label>
              <input type="text" class="form-control border-success" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Provincia:</label>
              <input type="text" class="form-control border-success" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Localidad:</label>
              <input type="text" class="form-control border-success" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">CP:</label>
              <input type="number" class="form-control border-success" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Confirmar contraseña:</label>
              <input type="password" class="form-control border-success" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Contraseña:</label>
              <input type="password" class="form-control border-success" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" [routerLink]="['/home']" (click)="aparecerF()"
            (click)="modal.dismiss('Cross click')">Registrarse</button>
        </div>
      </ng-template>
      <pre>{{ closeResult }}</pre>


      <!-- HEADER -->
      <!-- Logo -->
      <!-- botones-->
      <div class="container-fluid ">
        <div class="row">
          <div class="col-12 display-1 text-success text-center">Silenole <h3>Tu lugar de intercambio de bienes</h3>
            <div class="col-12 d-flex justify-content-center mt-3 mb-4">
              <button class="btn btn-outline-success btn-lg " role="button" aria-pressed="true" type="submit"
                data-toggle="modal" data-target="#modalIngresar" (click)="open(content)">Ingresar</button>
              <button class="btn btn-outline-success btn-lg ml-3 " role="button" aria-pressed="true" type="submit"
                data-toggle="modal" data-target="#modalRegistrar" (click)="open2(content2)">Registrarse</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <hr class="border border-success"> -->
      <!-- <hr> -->

      <!-- CARROUSEl-->

      <div class="carrusel dark row d-flex justify-content-center ml-8 mr-8 mt-3">
        <ngb-carousel class="carrusel2 col-sm-4 col-md-8 col-lg-12 d-flex justify-content-center">
          <ng-template ngbSlide>
            <div class="d-flex p-0 justify-content-center ">
              <img class="img" src="assets/img/caja1.jpg" alt="Random first slide">
            </div>
            <div class="textocarrousel carousel-caption  text-success ">
              <h3 style="font-size: xxx-large;">FÁCIL</h3>
              <p style="color: black;">Regístrate y sube los productos que no utilices o que quieras intercambiar.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="d-flex  justify-content-center ">
              <img class="img " src="assets/img/portada1.jpg" alt="Random second slide">
            </div>
            <div class="textocarrousel carousel-caption  text-success">
              <h3 style="font-size: xxx-large;">RÁPIDO</h3>
              <p style="color: black;">Utiliza los filtros para buscar productos y encuentra el que necesitas.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
              <img class="img " src="assets/img/manosss.jpg" alt="Random third slide">
            </div>
            <div class="textocarrousel carousel-caption  text-success">
              <h3 style="font-size: xxx-large;">SENCILLO</h3>
              <p style="color: black;">Manda un mensaje al propietario del producto, llegad a un acuerdo y ¡listo! </p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>


