.carrusel2 {margin-bottom: 20px;}

.img {
    height: 350px;
    width: 1200px;
    opacity: 0.8;
}

.textocarrousel {
    font-weight: bold;
    font-size: x-large;
} 

.silenole {font-size: 4em;}

.form-group {color: rgb(0, 128, 0);}

h4 {color: #008000;}

.sinpadding {
    padding: 0;
    margin: 0;
}
