<!-- HEADER -->
<!-- Logo -->
<!-- botones-->
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-12 display-1 text-success text-center">Silenole <h3>Tu lugar de intercambio de bienes</h3>
      <div class="col-12 d-flex justify-content-center mt-3 mb-4">
        <button class="btn btn-outline-success btn-lg " role="button" aria-pressed="true" type="submit"
          data-toggle="modal" data-target="#modalIntroducer" (click)="checkOpenSession(template3)">Ingresar</button>
        <button class="btn btn-outline-success btn-lg ml-3 " role="button" aria-pressed="true" type="submit"
          data-toggle="modal" data-target="#modalRegistrar" (click)="checkOpenSession(template2)">Registrarse</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE REGISTRARSE-->
<ng-template #template2>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Registrarse</h4>
     <button type="button" class="close pull-right" aria-label="close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <div class="modal-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" >
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Nombre Usuario:</label>
        <input type="text" class="form-control border-success" id="nombre" name="name" [(ngModel)]="usuario.name" #name="ngModel" 
        [ngClass]="{'is-invalid': userForm.submitted && name.invalid}" required>
        <div *ngIf="userForm.submitted && name.invalid" class="invalid-feedback">
          <p *ngIf="name.errors.required">El nombre es obligatorio</p>
        </div>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label" >Email:</label>
        <input type="email" class="form-control border-success" name="email" [(ngModel)]="usuario.email" #email="ngModel" 
        [ngClass]="{'is-invalid': userForm.submitted && email.invalid}" email required>
        <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
          <p *ngIf="email.errors.required">El email es obligatorio</p>
          <p *ngIf="email.errors.email">El formato de email es incorrecto</p>
        </div>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Comunidad Autónoma:</label>
        <input type="text" class="form-control border-success" name="comunidad" [(ngModel)]="usuario.comunidad" #comunidad="ngModel" 
        [ngClass]="{'is-invalid': userForm.submitted && comunidad.invalid}" required>
        <div *ngIf="userForm.submitted && comunidad.invalid" class="invalid-feedback">
          <p *ngIf="comunidad.errors.required">La Comunidad Autónoma es obligatoria</p>
      </div>
    </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Provincia:</label>
        <input type="text" class="form-control border-success" name="provincia" [(ngModel)]="usuario.provincia" #provincia="ngModel"
        [ngClass]="{'is-invalid': userForm.submitted && provincia.invalid}" required>
        <div *ngIf="userForm.submitted && provincia.invalid" class="invalid-feedback">
          <p *ngIf="provincia.errors.required">La Provincia es obligatoria</p>
        </div>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Localidad:</label>
        <input type="text" class="form-control border-success" name="localidad" [(ngModel)]="usuario.localidad" #localidad="ngModel"
        [ngClass]="{'is-invalid': userForm.submitted && localidad.invalid}" required>
        <div *ngIf="userForm.submitted && localidad.invalid" class="invalid-feedback">
          <p *ngIf="localidad.errors.required">La Localidad es obligatoria</p>
      </div>
    </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">CP:</label>
        <input type="number" class="form-control border-success" name="cp" [(ngModel)]="usuario.cp" #cp="ngModel"
        [ngClass]="{'is-invalid': userForm.submitted && cp.invalid}" required>
        <div *ngIf="userForm.submitted && cp.invalid" class="invalid-feedback">
          <p *ngIf="cp.errors.required">El Codigo Postal es obligatorio</p>
      </div>
    </div>
      <div class="form-group">
        <label for="recipient-name" for="password" class="col-form-label">Contraseña:</label>
        <input type="password" class="form-control border-success" id="pass1" name="password" [(ngModel)]="usuario.password" #password="ngModel" 
        [ngClass]="{'is-invalid': userForm.submitted && password.invalid}" minlength="3" required>
        <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
          <p *ngIf="password.errors.required">La contraseña es obligatoria</p>
          <p *ngIf="password.errors.minlength">La contraseña debe tener al menos 3 caracteres</p>
      </div>
    </div>
      <div class="form-group ">
        <label for="recipient-name" for="confirmPassword" class="col-form-label">Confirma la contraseña:</label>
        <input type="password" class="form-control border-success" id="pass2" name="password2"  required>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="newUsuario(name.value, password.value, email.value, comunidad.value, provincia.value, localidad.value, cp.value)"
         >Registrarse</button>
      </div>
    </form>
  </div>
</ng-template>

<!--MODAL INICIO-->
<ng-template #template3>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Ingresar</h4>
     <button type="button" class="close pull-right" aria-label="close" (click)="modalRef.hide()">
       <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <div class="modal-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" >
      <div class="form-group">
        <label for="recipient-name" class="col-form-label" >Email:</label>
        <input type="email" class="form-control border-success" name="email" [(ngModel)]="usuario.email" #email="ngModel" 
        [ngClass]="{'is-invalid': userForm.submitted && email.invalid}" email required>
        <div *ngIf="userForm.submitted && email.invalid" class="invalid-feedback">
          <p *ngIf="email.errors.required">El email es obligatorio</p>
          <p *ngIf="email.errors.email">El formato de email es incorrecto</p>
        </div>
      </div>
      <div class="form-group">
        <label for="recipient-name" for="password" class="col-form-label">Contraseña:</label>
        <input type="password" class="form-control border-success" id="pass1" name="password" [(ngModel)]="usuario.password" #password="ngModel" 
        [ngClass]="{'is-invalid': userForm.submitted && password.invalid}" minlength="3" required>
        <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
          <p *ngIf="password.errors.required">La contraseña es obligatoria</p>
          <p *ngIf="password.errors.minlength">La contraseña debe tener al menos 3 caracteres</p>
      </div>
    </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="login(email.value, password.value)"
         >Ingresar</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- CARROUSEl-->
<carousel class="carrusel row d-flex justify-content-center ml-5 mr-5 mt-3 mb-5">
  <div class="col-sm-12 col-md-12 lg-12">
  <slide>
    <img src="assets/img/mac.png" alt="first slide"
      style="display: block; height: 350px; width: 1420px; opacity: 0.9; border:1px solid #4caf50;" >
    <div class="carousel-caption d-none d-md-block text-success text-right " >
      <h2 style="font-size: xxx-large;" >FÁCIL</h2>
      <p style="color: black; font-size: x-large;">Regístrate y sube los productos que no utilices o que quieras intercambiar.</p>
    </div>
  </slide>
  <slide >
    <img src="assets/img/objs5.png" alt="second slide"
    style="display: block; height: 350px; width: 1420px; opacity: 0.9; border:1px solid #4caf50;" >
    <div class="carousel-caption d-none d-md-block  text-success" >
      <h2 style="font-size: xxx-large;">RÁPIDO</h2>
      <p style="color: black; font-size: x-large">Utiliza los filtros para buscar productos y encuentra el que necesitas.</p>
    </div>
  </slide>
  <slide>
    <img src="assets/img/chica.png" alt="third slide"
    style="display: block; height: 350px; width: 1420px; opacity: 0.9; border:1px solid #4caf50;" >
    <div class="carousel-caption d-none d-md-block  text-success text-left">
      <h2 style="font-size: xxx-large;">SENCILLO</h2>
      <p style="color: black; font-size: x-large">Manda un mensaje al propietario del producto, llegad a un acuerdo y ¡listo! </p>
    </div>
  </slide>
  </div>
</carousel>

      