<!-- HEADER Y CATEGORIAS -->
<app-header></app-header>
<app-categories></app-categories>

<!-- CONTENEDOR PRODUCTOS ULTIMOS -->
<div class="container-fluid">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center">
      <h2>Últimos Agregados</h2>
    </div>
  </div>
</div>

<div class="container-fluid mb-5 ">
  <div class="row d-flex justify-content-center">
    <div class="col-10 border border-success ">
      <div class="row align-items-end d-flex justify-content-center">

        <div class="card border-0 mt-2" style="width: 18rem; height: 450px" *ngFor="let producto of productsUltimos">
          <img class="card-img-top m-auto" src="{{producto.product_image}}" alt="Card image cap"
            style="max-width: 200px; max-height: 200px">
          <div class="card-block ml-2 mr-2 text-center">
            <h4 class="card-title">Producto: {{producto.nombre}}</h4>
            <h6 class="card-text">Descripción:</h6>
            <p class="card-text">{{producto.descripcion}}</p>
          </div>
          <div class="mt-3 mb-3 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success btn-sm mr-1"
              [routerLink]="['/owner']" (click)="pasarIdOwner(producto.user_id)"><i
              class="fa fa-user-circle-o" aria-hidden="true"></i>
              Ver Usuario</button>
            <button type="button" class="btn btn-outline-success btn-sm ml-1"
              [routerLink]="['/message']"  (click)="relacionarProductoMensaje(producto.product_id)">
              <i class="fa fa-envelope-open" aria-hidden="true"></i> Enviar mensaje</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- CONTENEDOR PRODUCTOS CERCANOS-->
<div class="container-fluid">
  <div class="row">
    <div class="col text-success mt-2 mb-5 text-center">
      <h2>Más cercanos a tí</h2>
    </div>
  </div>
</div>

<div class="container-fluid mb-5 ">
  <div class="row d-flex justify-content-center">
    <div class="col-10 border border-success ">
      <div class="row align-items-end d-flex justify-content-center">

        <div class="card border-0 mt-2" style="width: 18rem; height: 450px" *ngFor="let producto of productsCercanos">
          <img class="card-img-top m-auto" src="{{producto.product_image}}" alt="Card image cap"
            style="max-width: 200px; max-height: 200px">
          <div class="card-block ml-2 mr-2 text-center">
            <h4 class="card-title">Producto: {{producto.nombre}}</h4>
            <h6 class="card-text">Descripción:</h6>
            <p class="card-text">{{producto.descripcion}}</p>
          </div>
          <div class="mt-3 mb-3 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success btn-sm mr-1"
                [routerLink]="['/owner']" (click)="pasarIdOwner(producto.user_id)"><i
                class="fa fa-user-circle-o" aria-hidden="true"></i>
                Ver Usuario</button>
            <button type="button" class="btn btn-outline-success btn-sm ml-1"
              [routerLink]="['/message']"><i class="fa fa-envelope-open" aria-hidden="true"></i>
              Enviar mensaje</button>
          </div>
        </div>

        <div *ngIf="productsCercanos.length!=0; else noHay"></div>
        <ng-template #noHay  > 
          <img class="mt-3 mb-2" src="https://www.andiar.com/4892-large_default/vinilo-unicornio-infantil.jpg" alt="Unicornio">
          <div class="display-4 text text-success text-center mb-2" >No hay productos cerca de tí... pero mira que bonito unicornio</div> 
        </ng-template>

      </div>
    </div>
  </div>
</div>

 <!-- FOOTER -->
 <app-footer></app-footer>
 