.card-text{
    margin-left: 10px;
  }
  .card-title{
    margin-left: 10px;
  }
  .card{
    border-style: solid 2px;
    border-color: green;
    margin-right: 50px;
  }
  .card-block{
    margin-top: 20px;
  } 
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
