<!-- PRODUCTOS -->

<div class="container-fluid" >
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center"><h2>Últimos Agregados</h2></div>
  </div>
</div>
<div class="container ">
<div class="card-columns" >
  <div class="card col-md-12">
    <img class="card-img-top" src="../../assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
    <div class="card-block">
      <h4 class="card-title">Nombre del Producto</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card col-md-12"  >
    <img class="card-img-top" src="../../assets/img/casco.jpg" alt="Card image cap" width="80px" height="150px">
    <div class="card-block">
      <h4 class="card-title">Nombre del Producto</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card col-md-12">
    <img class="card-img-top" src="../../assets/img/bicicleta.jpg" alt="Card image cap" width="80px" height="150px">
    <div class="card-block">
      <h4 class="card-title">Producto: Nombre</h4>
      <h6 class="card-text">Descripcion:</h6>
      <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
      <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
    </div>
  </div>
  <div class="container ">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center"><h2>Más cercanos a tí</h2></div>
  </div>
  
  </div>
  
 <!-- FIN PRODUCTOS -->
