<!-- HEADER Y CATEGORIAS -->
<app-header></app-header>
<app-categories></app-categories>

<!-- MODAL  -->
<ng-template #Upload>
  <div class="modal-body text-success text-center">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label"><h3>Producto subido correctamente</h3></label>
      </div>
    </form>
  </div>  
  <div class="d-flex justify-content-center mb-3">
    <button type="button" class="btn btn-success"  [routerLink]="['/siles']" (click)="modalRef.hide()">Ir a mis Siles</button> &nbsp;
    <button type="button" class="btn btn-success"  [routerLink]="['/subir']" (click)="!uploadForm.valid" (click)="modalRef.hide()">Subir otro</button> 
  </div>
</ng-template>

<!-- FORMULARIO SUBIDA -->
<div class="container-fluid ">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center">
      <h2>Sube algo para intercambiar</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 bg-light border border-success text-success mb-5">
      <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm); uploadForm.reset()">
        <div class="form-group mt-3">
          <label for="exampleFormControlFile1">Carga una Foto</label>
          <input type="file" class="form-control-file" name="product_image" [(ngModel)]="product.product_image"
            #product_image="ngModel" required (change)="onFileSelected($event)">
            <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Producto</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="product.nombre" #nombre="ngModel"
            placeholder="En una sola palabra" required>
            <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Elige Categoría</label>
          <select class="form-control" name="categoria" [(ngModel)]="product.categoria" #categoria="ngModel" required>
            <option>Ordenadores</option>
            <option>Móviles</option>
            <option>Consolas</option>
            <option>Ropa</option>
            <option>Cocina</option>
            <option>Muebles</option>
            <option>Motor</option>
            <option>Deporte</option>
            <option>Libros y musica</option>
            <option>Electrodomésticos</option>
            <option>Otros</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Describe el producto</label>
          <textarea class="form-control" name="descripcion" [(ngModel)]="product.descripcion" #descripcion="ngModel"
            required rows="3"></textarea>
            <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="row justify-content-center my-4">
          <button type="submit" class="btn btn-success" 
            (click)="anyadirSile(nombre.value, descripcion.value, categoria.value, usuarioActual.user_id, product_image.value.replace('C:\\fakepath\\',''))"
            (click)= "openModal(Upload)">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>

