<!-- HEADER Y CATEGORIAS -->
<app-header></app-header>
<app-categories></app-categories>

<!-- FORMULARIO SUBIDA -->
<div class="container-fluid ">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center">
      <h2>Sube algo para intercambiar</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 bg-light border border-success text-success mb-5">
      <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm)">
        <div class="form-group mt-3">
          <label for="exampleFormControlFile1">Carga una Foto</label>
          <input type="file" class="form-control-file" name="product_image" [(ngModel)]="product.product_image"
            #product_image="ngModel" required>
            <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Producto</label>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="product.nombre" #nombre="ngModel"
            placeholder="En una sola palabra" required>
            <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Elige Categoría</label>
          <select class="form-control" name="categoria" [(ngModel)]="product.categoria" #categoria="ngModel" required>
            <option>Ordenadores</option>
            <option>Móviles</option>
            <option>Consolas</option>
            <option>Ropa</option>
            <option>Cocina</option>
            <option>Muebles</option>
            <option>Motor</option>
            <option>Deporte</option>
            <option>Libros y musica</option>
            <option>Electrodomésticos</option>
            <option>Otros</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Describe el producto</label>
          <textarea class="form-control" name="descripcion" [(ngModel)]="product.descripcion" #descripcion="ngModel"
            required rows="3"></textarea>
            <small id="emailHelp" class="form-text text-muted">*Obligatorio.</small>
        </div>
        <div class="row justify-content-center my-4">
          <button type="submit" class="btn btn-success" 
            (click)="anyadirSile(null, nombre.value, descripcion.value, categoria.value, idUsuario, product_image.value.replace('C:\\fakepath\\',''))">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- FOOTER -->
<app-footer></app-footer>


<!-- PARA PROBAR EL SERVICIO -->
<div class="col-6 mt-2">
  <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm)">
    <div class="form-group">
      <label>Product_id</label><br>
      <input type="text" class="form-control" name="product_id" [(ngModel)]="product.product_id" #product_id="ngModel" required>
  </div>
      <div class="form-group">
          <label>nombre</label><br>
          <input type="text" class="form-control" name="nombre" [(ngModel)]="product.nombre" #nombre="ngModel" required>
      </div>
      <div class="form-group">
          <label>descripcion</label><br>
          <input type="text" class="form-control" name="descripcion" [(ngModel)]="product.descripcion" #descripcion="ngModel"required>
      </div>
      <div class="form-group">
          <label>categoria</label><br>
          <input type="text" class="form-control" name="categoria" [(ngModel)]="product.categoria" #categoria="ngModel"required>
      </div>
      <div class="form-group">
          <label>User_id</label><br>
          <input type="text" class="form-control" name="user_id" [(ngModel)]="product.user_id" #user_id="ngModel" required>
        </div>
          <div class="form-group">
            <label>image</label><br>
            <input type="text" class="form-control" name="product_image" [(ngModel)]="product.product_image" #product_image="ngModel" required>
        </div>
      
      <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="anyadirSile(null, nombre.value, descripcion.value, categoria.value, user_id.value, product_image.value)">Insertar</button>
      </div>
      <div class="form-group">
      <!--   <button type="submit" class="btn btn-primary" (click)="modificarSile(product_id.value, nombre.value, descripcion.value, categoria.value, user_id.value, product_image.value)">Cambiar</button> -->
    </div>
    <div class="form-group">
      <!-- <button type="submit" class="btn btn-primary" (click)="borrarSile(product_id.value)">Borrar</button> -->
  </div>
  </form>
  </div>