<!-- HEADER Y CATEGORIAS -->
<!-- <app-header></app-header>
<app-categories></app-categories> -->

<!-- FORMULARIO SUBIDA -->
<div class="container-fluid ">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center">
      <h2>Sube algo para intercambiar</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 bg-light border border-success text-success mb-5">
      <form>
        <div class="form-group mt-3">
          <label for="exampleFormControlFile1">Carga una Foto</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
          <small id="emailHelp" class="form-text text-muted">* Obligatorio</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Producto</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="En una sola palabra">
          <small id="emailHelp" class="form-text text-muted">* Obligatorio</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Elige Categoría</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Ordenadores</option>
            <option>Móviles</option>
            <option>Consolas</option>
            <option>Ropa</option>
            <option>Cocina</option>
            <option>Muebles</option>
            <option>Motor</option>
            <option>Deporte</option>
            <option>Libros y musica</option>
            <option>Electrodomésticos</option>
            <option>Otros</option>
          </select>
          <small id="emailHelp" class="form-text text-muted">* Obligatorio</small>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Describe el producto</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="row justify-content-center my-4">
          <button type="submit" class="btn btn-success ">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- FOOTER -->
<!-- <app-footer></app-footer> -->