<app-header></app-header>
<app-categories></app-categories>

<!-- TÍTULO -->

<div class="container-fluid">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center">
      <h2>Mensajes</h2>
    </div>
  </div>
</div>

<!-- -------------------------------------------------------  -->

<div class="container-fluid col-10 bg-light border border-success mb-5">
  <!-- -------------------------------NOLES----------------------------- -->
  <div class="row justify-content-center mt-5 mb-5 ">
    <h3 class="text-success">Noles</h3>
  </div>
  <!-- NOLES -->
  <div class="container-fluid border-success">
    <div class="container-fluid border border-success">
      <!-- Contenedor tarjeta / mensaje -->
      <div class="row justify-content-center">
        <!-- contenedor  -->
        <div class="col-12 col-sm-6 col-md-4 mt-5 mb-5">
          <!-- columna 1 -->
          <div class="row align-items-end d-flex justify-content-center">
            <div class="col-10 card border border-success pt-2 pb-2 mt-1 mb-1" style="width: 3rem;"
              *ngFor="let nole of noles, index as i">
              <div>
                <div class="card border-0" style="max-width: 300px;">
                  <div class="row no-gutters">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 row align-items-center justify-content-center p-3"
                      (click)="pasarNole(nole)">
                      <img src="{{nole.product_image}}" class="card-img" alt="{{nole.nombre}}">
                    </div>
                    <div
                      class="col-12 col-sm-12 col-md-12 col-lg-8 text-center row align-items-center justify-content-center"
                      (click)="pasarNole(nole)">
                      <div class="card-body">
                        <h5 class="card-title">{{nole.nombre}}</h5>
                        <h6 class="card-title">{{nole.descripcion}}</h6>
                      </div>
                    </div>
                    <!-- <div class=" d-flex justify-content-end"> //BOTON DE BORRAR PRODUCTO
                      <button type="submit" class="btn btn-outline-danger btn-sm" (click)="eliminarNoleCardMsg(i)">Eliminar Nole</button>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- fin columna 1 -->
        <div class="col-12 col-sm-6 col-md-6 align-self-end mt-5 mb-5 ">
          <!-- columna 2 -->
          <div class="media media-chat ml-4 mr-3" *ngFor="let messageN of messagesNoles">
            <div class="media-body">
              <div class="media-body"><b>{{messageN.name}}:</b> {{messageN.text}} <br>
                <p class="text-right">{{messageN.date}}</p>
                <hr>
              </div>
            </div>
          </div>
        </div> <!-- fin columna 2 -->
        <div class="container">
          <form #uploadForm="ngForm" (ngSubmit)="onSubmit(uploadForm);">
          <div class="input-group input-group-sm mt-2 mb-3" >
            <input type="text" class="form-control border border-success" id="mensaje" placeholder="Mensaje"
              name="mensaje" aria-label="Recipient's username" aria-describedby="button-addon2" name="text"
              [(ngModel)]="message.text" #text="ngModel"  required>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button"  (click)="enviarMsgNoleSeleccionado(text.value)" (click)="this.text.reset()"
                id="button-addon2"><i class="fa fa-comments" aria-hidden="true"></i>
                Enviar Mensaje</button>
            </div>
          </div>
          </form>
        </div>
      </div><!-- fin contenedor  -->
    </div><!--  Fin Contenedor tarjeta / mensaje -->
  </div>

  <!-- -------------------------------SILES----------------------------- -->
  <div class="row justify-content-center mt-5 mb-5 ">
    <h3 class="text-success">Siles</h3>
  </div>
  <!-- SILES -->
  <div class="container-fluid border-success">
    <div class="container-fluid border border-success">
      <!-- Contenedor tarjeta / mensaje -->
      <div class="row justify-content-center">
        <!-- contenedor  -->
        <div class="col-12 col-sm-6 col-md-4 mt-5 mb-5">
          <!-- columna 1 -->
          <div class="row align-items-end d-flex justify-content-center">
            <div class="col-10 card border border-success pt-2 pb-2 mt-1 mb-1" style="width: 3rem;"
              *ngFor="let sile of siles">
              <div>
                <div class="card border-0" style="max-width: 300px;">
                  <div class="row no-gutters">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 row align-items-center justify-content-center p-3"
                      (click)="pasarSile(sile)">
                      <img src="{{sile.product_image}}" class="card-img" alt="{{sile.nombre}}">
                    </div>
                    <div
                      class="col-12 col-sm-12 col-md-12 col-lg-8 text-center row align-items-center justify-content-center"
                      (click)="pasarSile(sile)">
                      <div class="card-body">
                        <h5 class="card-title">{{sile.nombre}}</h5>
                        <h6 class="card-title">{{sile.descripcion}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- fin columna 1 -->
        <div class="col-12 col-sm-6 col-md-6 align-self-end mt-5 mb-5">
          <!-- columna 2 -->
          <div class="media media-chat ml-4 mr-3" *ngFor="let messageS of messagesSiles">
            <div class="media-body"><b>{{messageS.name}}:</b> {{messageS.text}} <br>
              <p class="text-right">{{messageS.date}}</p>
              <hr>
            </div>
          </div>
        </div> <!-- fin columna 2 -->
        <div class="container">
          <div class="input-group input-group-sm mt-2 mb-3">
            <input type="text" class="form-control border border-success" id="mensaje2" placeholder="Mensaje"
              name="mensaje2" aria-label="Recipient's username" aria-describedby="button-addon2" name="text2"
              [(ngModel)]="message2.text" #text2="ngModel" required>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" (click)="enviarMsgSileSeleccionado(text2.value)" (click)="this.text2.reset()"
                id="button-addon2"><i class="fa fa-comments" aria-hidden="true"></i>
                Enviar Mensaje</button>
            </div>
          </div>
        </div>
      </div><!-- fin contenedor  -->
    </div><!--  Fin Contenedor tarjeta / mensaje -->
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>

 
