<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
</head>



<body class=" body">

<!-- TÍTULO -->
<h3 class="mns row container-fluid align-items-between d-flex alig justify-content-center pt-3 pb-3 mt-2">Mensajes
</h3>

<!--RECUADRO-->

<div class="container-fluid">

  <div class="row justify-content-center mb-4">

    <div class="col-lg-10 col-md-8 col-sm-6  bg-light border border-success ">

      <!-- CARDS PRODUCTOS -->
      
      <div class="float-left mt-4">

      <div class="card mb-3 ml-5" style="max-width: 450px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex align-items-center">
            <img src="assets/images/bici.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
              <label>Producto:</label><br>
              <h5 class="card-title">Bicicleta</h5>
              <label>Descripción:</label><br>
              <p class="card-text"><small class="text-muted">Bicicleta de mujer Marca Cloot de trial</small>
              </p>
            </div>
          </div>

        </div>
      </div>


      <div class="card mb-3 ml-5 d-none d-sm-block" style="max-width: 450px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex align-items-center d">
            <img src="assets/images/bici.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
              <label>Producto:</label><br>
              <h5 class="card-title">Bicicleta</h5>
              <label>Descripción:</label><br>
              <p class="card-text"><small class="text-muted">Bicicleta de mujer Marca Cloot de trial</small>
              </p>
            </div>
          </div>

        </div>
      </div>


      <div class="card mb-3 ml-5 d-none d-sm-block" style="max-width: 450px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex align-items-center ">
            <img src="assets/images/bici.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
              <label>Producto:</label><br>
              <h5 class="card-title">Bicicleta</h5>
              <label>Descripción:</label><br>
              <p class="card-text"><small class="text-muted">Bicicleta de mujer Marca Cloot de trial</small>
              </p>
            </div>
          </div>

        </div>
      </div>

      </div>

      <!-- MENSAJES -->

    <div class="">

      <div class="container-fluid page-content page-container" id="page-content">
        
          <div class="row justify-content-right mt-4 ">
            <div class="col-md-12">
              <div class="card card-bordered">
                <div class="card-header">
                  <h4 class="card-title"><strong>Chat</strong></h4>
                </div>
                <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                  style="overflow-y: scroll !important; height:400px !important;">
                  <div class="media media-chat"> <img class="avatar"
                      src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                    <div class="media-body">
                      <p>Hola</p>
                      <p>Estoy interesada en tu bicicleta</p>
                      <p>Te interesa algunos de mis productos?</p>
                      <p class="meta"><time datetime="2018">16:58</time></p>
                    </div>
                  </div>
                  
               
                  <div class="media media-chat"> <img class="avatar"
                    src="https://img.icons8.com/color/48/000000/administrator-female.png" alt="...">
                  <div class="media-body">
                    <p>Hola Pepe</p>
                    <p>Dejame echar un vistazo</p>
                    <p>y te digo algo pronto</p>
                    <p class="meta"><time datetime="2018">17:30</time></p>
                  </div>
                
               </div>

                  <div class="media media-chat"> <img class="avatar"
                      src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                    <div class="media-body">
                      <p>Perfecto!</p>
                      <p>quedo a la espera entonces</p>
                      <p class="meta"><time datetime="2018">00:07</time></p>
                    </div>
                  </div>
                  
                  
                  <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                  </div>
                </div>
                <div class="publisher bt-1 border-light"> 
                     <input class="publisher-input" type="text" placeholder="Escribe tu mensaje"> &nbsp;
                    <button type="button" class="btn btn-success btn-sm mb-1">Enviar</button>&nbsp; 
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
  
</body>
</html>
  
