.mns
{
    color: rgb(10, 121, 10); 
    text-align: center;
    

}

.silenole
{
    font-size: 4em;
}
.scroll { height: 400px; overflow-y: scroll;}
.largo { width: 50%; text-align: right;}