<div class="container-fluid bg-success ">
  <div class="row d-flex justify-content-center ">
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center ">
      <p class="d-flex align-items-center mt-3  pt-1">silenole@silenole.es | © 2020 CMP APPS | Madrid </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center mb-3">
      <img src="assets/img/facebook.png" width="30" alt="" class="mt-3">
      <img src="assets/img/instagram.png" width="30" alt="" class="mx-4 mt-3">
      <img src="assets/img/twitter.png" width="30" alt="" class="mt-3">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center">
      <p class="d-flex align-items-center mt-3  pt-1">Politica de Privacidad | Terminos de Uso | Legal</p>
    </div>
  </div>
</div>

