
<!--DATOS DE USUARIO-->
<div class="d-flex justify-content-center">
  <div class="float-left">
    <h4 class="titulo">
      <p class="text-center">Usuario Pepito</p>
    </h4>
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <img src="assets/img/vector-person-icon.jpg" class="card-img-top" alt="...">
      <div class="card-body text-black">
        <ul>
          <li>Nombre : Pepe Guzman</li>
          <li>Localidad: Mostoles</li>
          <li>Email: Pepe123@gmail.com</li>
        </ul>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-outline-success">Enviar Mensaje</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--CONTAINER CON PRODUCTOS-->

<h4 class="titulo">
  <p class="text-center">Productos de Pepito</p>
</h4>
<div class="card border-success text-center mb-5">
  <div class="row mb-5 ml-5 mr-5">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-success">
        <img class="card-img-top" src="assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-success">
        <img class="card-img-top" src="assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-success">
        <img class="card-img-top" src="assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-success">
        <img class="card-img-top" src="assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-success">
        <img class="card-img-top" src="assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card border-success">
        <img class="card-img-top" src="assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
        <div class="card-block">
          <h4 class="card-title">Producto: Nombre</h4>
          <h6 class="card-text">Descripcion:</h6>
          <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
          <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
