.float-right{
    position: relative;
}
.card{
    margin-left: 30px;
    margin-top: 80px;
    margin-right: 30px;
}
.titulo{
    margin-bottom: -50px;
    margin-top: 30px;
    color: green;
}
