<!-- HEADER Y CATEGORIAS -->
<app-header></app-header>
<app-categories></app-categories>

<!-- TÍTULO -->
<div class="container-fluid">
  <div class="row">
    <div class="col text-success mt-5 mb-5 text-center">
      <h2>Mi Perfil</h2>
    </div>
  </div>
</div>

<!-- RECUADRO DATOS/IMAGEN -->
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 bg-light border border-success text-success mb-5">
      <div class="form-group">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
          <!-- imagen perfil -->
          <div class="container-fluid">
            <div class="row align-items-between d-flex justify-content-center pt-3 pb-3 mt-3 ">
              <div class="col-lg-8 col-md-10 col-sm-10">

                <div class="d-flex justify-content-center">
                  <img src="{{usuarioActual.user_image}}" class="card-img mb-3" style="max-width: 160px;"
                    alt="Agrega tu">
                </div>

              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label text-center">Cambiar foto de perfil</label>
            <input type="file" class="form-control-file text-success" name="user_image" required
              (change)="onFileSelected($event)">
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre Usuario:</label>
            <input type="text" class="form-control border-success" name="name" [(ngModel)]="usuarioActual.name"
              #name="ngModel" required>
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="email" class="form-control border-success" name="email" [(ngModel)]="usuarioActual.email"
              #email="ngModel" required>
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Comunidad Autónoma:</label>
            <input type="text" class="form-control border-success" name="comunidad"
              [(ngModel)]="usuarioActual.comunidad" #comunidad="ngModel" required>
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Provincia:</label>
            <input type="text" class="form-control border-success" name="provincia"
              [(ngModel)]="usuarioActual.provincia" #provincia="ngModel" required>
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Localidad:</label>
            <input type="text" class="form-control border-success" name="localidad"
              [(ngModel)]="usuarioActual.localidad" #localidad="ngModel" required>
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">CP:</label>
            <input type="number" class="form-control border-success" name="cp" [(ngModel)]="usuarioActual.cp"
              #cp="ngModel" required>
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Contraseña:</label>
            <input type="password" class="form-control border-success" name="password"
              (ngModel)="usuarioActual.password" #password="ngModel" required>
            <small class="form-text text-muted">*Obligatorio.</small>
          </div>
         </form>
      </div>
      <div class="container-fluid">
        <div class="row align-items-center d-flex justify-content-center">
          <div class="my-1">
            <button type="button" class="btn btn-success mr-1"
              (click)="validarUsuario(usuarioActual.user_id, name.value, password.value, email.value, comunidad.value, provincia.value, localidad.value, cp.value)"
              (click)="password">Actualizar Perfil</button>
              <button type="button" class="btn btn-success ml-1"
              (click)="openModal(cambioPassword)">Cambiar Contraseña</button>
          </div> &nbsp;
        </div>
      </div>
      <div class="container-fluid">
        <div class="row align-items-center d-flex justify-content-center pb-3">
          <div>
            <hr>
            <button type="button" class="btn btn-danger btn-sm" 
            (click)="validarBorrarUsuario(usuarioActual.user_id, name.value, password.value, email.value, comunidad.value, provincia.value, localidad.value, cp.value, content3)"
            ><i class="fa fa-trash" aria-hidden="true"></i>
              Eliminar Cuenta</button>
          </div> &nbsp;
        </div>
      </div>
    </div>

  </div>
</div>
<br>

<!-- MODAL BORRAR USUARIO  -->
<ng-template #content3 id="content3" let-modal>
  <div class="modal-body text-success text-center">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label"><h3>¿Seguro que quieres eliminar tu cuenta?</h3></label>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <button type="button" class="btn btn-outline-danger" (click)="borrarUsuario(usuarioActual.user_id)" (click)="modal.dismiss('Cross click')">Eliminar Cuenta</button>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>

<!-- MODAL USUARIO SUBIDO -->
<ng-template #usuarioSubido let-modal>
  <div class="modal-body text-success text-center">
    <form>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label"><h3>Usuario Modificado con exito</h3></label>
      </div>
    </form>
  </div>
  <div class="d-flex justify-content-center mb-3">
    <button type="button" class="btn btn-outline-danger" [routerLink]="['/usuario']" (click)="modal.dismiss('Cross click')">Cerrar</button>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>

<!-- MODAL CAMBIO CONTRASEÑA -->
<ng-template #cambioPassword let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-success" id="modal-basic-title2">Modifica tu contraseña</h4>
     <button type="button" class="close pull-right" aria-label="close" (click)="modal.dismiss('Cross click')">
       <span aria-hidden="true">&times;</span>
     </button>
  </div>
  <div class="modal-body text-success">
    <form #cambioPasswordForm="ngForm" (ngSubmit)="onSubmit(cambioPasswordForm)" >
      <div class="form-group">
        <label for="recipient-name" class="col-form-label" >Escribe tu contraseña actual:</label>
        <input type="password" class="form-control border-success" name="password" (ngModel)="usuario.password" #password="ngModel" 
        [ngClass]="{'is-invalid': userForm.submitted && password.invalid}" minlength="3" required>
        <div *ngIf="userForm.submitted && password.invalid" class="invalid-feedback">
          <p *ngIf="password.errors.required">La contraseña es obligatoria</p>
          <p *ngIf="password.errors.minlength">La contraseña debe tener al menos 3 caracteres</p>
        </div>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label" >Escribe tu nueva contraseña:</label>
        <input type="password" class="form-control border-success" name="nuevoPassword" (ngModel)="nuevoPassword.password1" #password1="ngModel" 
        [ngClass]="{'is-invalid': cambioPasswordForm.submitted && password1.invalid}" minlength="3" required>
        <div *ngIf="cambioPasswordForm.submitted && password1.invalid" class="invalid-feedback">
          <p *ngIf="password1.errors.required">La contraseña es obligatoria</p>
          <p *ngIf="password1.errors.minlength">La contraseña debe tener al menos 3 caracteres</p>
        </div>
      </div>
      <div class="form-group">
        <label for="recipient-name" class="col-form-label">Confirma la contraseña nueva:</label>
        <input type="password" class="form-control border-success" id="pass1" name="nuevoPassword2" (ngModel)="nuevoPassword.password2" #password2="ngModel" 
        [ngClass]="{'is-invalid': cambioPasswordForm.submitted && password2.invalid}" minlength="3" required>
        <div *ngIf="cambioPasswordForm.submitted && password2.invalid" class="invalid-feedback">
          <p *ngIf="password2.errors.required">La contraseña es obligatoria</p>
          <p *ngIf="password2.errors.minlength">La contraseña debe tener al menos 3 caracteres</p>
      </div>
    </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" (click)="cambiarPassword(password.value, password1.value, password2.value)"
        >Cambiar</button>
      </div>
    </form>
  </div>
</ng-template>
<pre>{{ closeResult }}</pre>


<!-- FOOTER -->
<app-footer></app-footer>
