<!-- FILTROS DE BUSQUEDA -->
<div class="container-fluid mt-5 mb-4">
  <div class="row d-flex justify-content-center text-success">
    <h2>Afina tu búsqueda</h2>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-6 d-flex justify-content-center justify-content-sm-center justify-content-md-end">
      <ul class="nav">
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle text-success" data-toggle="dropdown" 
            role="button" aria-haspopup="true" aria-expanded="false">Por cercanía</a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a class="dropdown-item" href="#">Codigo Postal</a>
            <a class="dropdown-item" href="#">Cuidad</a>
            <a class="dropdown-item" href="#">Localidad</a>
            <a class="dropdown-item" href="#">Comunidad Autonoma</a>
          </div>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle text-success" data-toggle="dropdown" 
            role="button" aria-haspopup="true" aria-expanded="false">Por tiempo</a>
          <div ngbDropdownMenu class="dropdown-menu text-success">
            <a class="dropdown-item" href="#">Última semana</a>
            <a class="dropdown-item" href="#">Último mes</a>
            <a class="dropdown-item" href="#">Último año</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-sm-12 col-md-6 d-flex justify-content-center justify-content-sm-center justify-content-md-start">
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control" type="search" placeholder="Por Usuario" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 active d-flex justify-content-center justify-content-sm-center" role="button" aria-pressed="true"
            type="submit" [routerLink]="['/buscar']">Buscar</button>
        </form>
    </div>
  </div>
</div>
<!-- CIERRE FILTROS DE BUSQUEDA --> 

<!-- MODAL PRODUCT-->

<ng-template #content4 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><img src="assets/img/bicicleta.jpg" class="card-img" alt="..."></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
          <label><h3><b>Producto</b></h3></label><br>
          <label>Bicicleta</label><br>
      </div>
      <div class="form-group">
          <label ><h3><b>Descripción</b></h3></label><br>
          <label >Bicicleta de mujer marca Cloot modelo AR Trial 7000</label><br>
      </div>
      <div class="form-group">
        <label ><h3><b>Usuario</b></h3></label><br>
        <label >Carlos1998</label><br>
      </div>
      <hr>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success" [routerLink]="['/owner']">Ir a usuario</button> &nbsp;                     
        <button type="submit" class="btn btn-success" [routerLink]="['/message']">Enviar Mensaje</button>
      </div>    
  </form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.dismiss('Cross click')">Ingresar</button>
  </div> -->
</ng-template>
<pre>{{ closeResult }}</pre>


<!-- PRODUCTOS -->

<div class="container-fluid" >
  </div>
  <div class="container ">
  <div class="card-columns" >
    <div class="card col-md-12">
      <img class="card-img-top" src="../../assets/img/mesa.jpg" alt="Card image cap" width="80px" height="150px">
      <div class="card-block">
        <h4 class="card-title">Nombre del Producto</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card col-md-12"  >
      <img class="card-img-top" src="../../assets/img/casco.jpg" alt="Card image cap" width="80px" height="150px">
      <div class="card-block">
        <h4 class="card-title">Nombre del Producto</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card col-md-12">
      <img class="card-img-top" src="../../assets/img/bicicleta.jpg" alt="Card image cap" width="80px" height="150px" data-toggle="modal" data-target="#modalprod" (click)="open(content4)">
      <div class="card-block">
        <h4 class="card-title">Producto: Nombre</h4>
        <h6 class="card-text">Descripcion:</h6>
        <p class="card-text">Descripcion del producto detallando sus caracteristicas con limite de caracteres</p>
        <p class="card-text"><small class="text-muted">Tiempo de subida</small></p>
      </div>
    </div>
