<!-- HEADER -->
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12-text-center col-md-3-text-center col-lg-3 col-xl-3 mt-4 text-success display-3 mr-5">
          </div>
          <div
            class="col-sm-12 col-md-12-text-center col-lg-9 col-xl-9 mt-4 ml-3 row align-items-center d-flex justify-content-end">
            <nav class="navbar navbar-expand-md navbar-light ">
              <a class="navbar-brand" href="index.html">
                <h1 class="text-success display-3">Silenole</h1>
              </a>
              <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleCollapsed()"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse row align-items-end" id="navbarSupportedContent"
                [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">

                <div class="navbar-nav mr-auto ">
                  <a class="nav-item nav-link text-success" [routerLink]="['/usuario']">
                    <h5>Usuario</h5>
                  </a>
                  <a class="nav-item nav-link text-success" [routerLink]="['/siles']">
                    <h5>Mis Siles</h5>
                  </a>
                  <a class="nav-item nav-link text-success" [routerLink]="['/subir']">
                    <h5>Subir Siles</h5>
                  </a>
                  <a class="nav-item nav-link text-success" [routerLink]="['/message']">
                    <h5>Mis Mensajes</h5>
                  </a>

                  <form class="form-inline d-flex flex row ml-2">
                    <input class="form-control mr-sm-2" type="search" placeholder="Noles / Usuario" aria-label="Search">
                    <button class="btn btn-outline-success active mr-2 " type="submit" [routerLink]="['/buscar']">Buscar</button>
                  </form>
                </div>
              </div>

            </nav>
          </div>
        </div>
      </div>
      <div class="ml-4 text-success">
        <h3>Tu lugar de intercambio de bienes. Fácil. Rápido. Sencillo.</h3>
      </div>
    </div>
  </div>
<!-- FIN HEADER -->
