<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      
    </head>


    <body>

        <div class="modal fade " id="modalprod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog col-sm-4 col-md-8 col-lg-10 justify-content-center">
              <div class="modal-content">
                <div class="modal-header">
                 
                  <div>
                    <img src="assets/images/bici.jpg" class="card-img" alt="...">
                  </div>
                  <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                    </button>
                   </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label><h3><b>Producto</b></h3></label><br>
                            <label>Bicicleta</label><br>
                        </div>
                        <div class="form-group">
                            <label ><h3><b>Descripción</b></h3></label><br>
                            <label >Bicicleta de mujer marca Cloot modelo AR Trial 7000</label><br>
                        </div>
                        <div class="form-group">
                          <label ><h3><b>Usuario</b></h3></label><br>
                          <label >Carlos1998</label><br>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-end">
                          <button type="submit" class="btn btn-success" >Ir a usuario</button> &nbsp;                     
                          <button type="submit" class="btn btn-success" >Enviar Mensaje</button>
                        </div>    
                    </form>
                </div>
                
              </div>
            </div>
          </div> 
    </body>
  </html>
